ul{
    background-color: rebeccapurple;
    padding: 15px;
    list-style: none;
    height: auto;
}
li{
    background-color: burlywood;
    padding: 10px;
     margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    display: inline;
    
    width: 20vw;
}
li:hover{
    background-color: aquamarine;
    color: black;
    cursor: pointer;   
}
.menu-ex{
    background-color: brown;
}
.post {
    width: 500px;
    border: 1px solid grey ;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.post img{
    width: 500px;
    border-radius: 10px;
}
.post button{
    font-size: 15px;
    background-color:violet;
    color: black;
    font-weight: 700;
    border: 1px solid slategray;
    border-radius: 10px;
    padding: 5px;
    background-color: thistle}

.post img{
    width: 500px;
    border-radius: 10px;
    
}
.post button {
    font-size: 15px;
    background-color: thistle;
    color: black;
    font-weight: 700;
    border: 1px solid slategray;
    border-radius: 10px;
    padding: 5px;
}